@{
    Layout = null;
}
@model List<Model.Stuinfo>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script>
        function Del(e) {
            var id = $(e).attr("id");
            $.post("Home/Delete", { id: id }, function (data) {
                if (data == "true") {
                    alert("删除成功");
                    window.location.reload();
                }
                else {
                    alert("删除失败");
                }
            })
        }
    </script>
</head>
<body>
    <table>
        <tr>
            <td><input type="checkbox" id="CheckAll"/></td>
            <td>编号</td>
            <td>姓名</td>
            <td>学号</td>
            <td>班级</td>
            <td>状态</td>
            <td>添加</td>
            <td>修改</td>
            <td>删除</td>
        </tr>
        @foreach (var item in Model)
        {
            <tr class="hover" onclick="Click()">
                <td><input type="checkbox" class="Check" value="@item.S_Id" /></td>
                <td>@item.S_Id</td>
                <td>@item.S_Name</td>
                <td>@item.S_No</td>
                <td>@BLL.ClassBLL.GetClass(item.S_C_Id)</td>
                <td>@(item.S_State ? "已点名" : "未点名")</td>
                <td>
                    @Html.ActionLink("添加", "Insert")
                </td>
                <td>
                    @Html.ActionLink("修改", "Update", new { id = item.S_Id })
                </td>
                <td>
                    <a href="#" id='@item.S_Id' onclick="Del(this)" >删除</a>
                </td>
            </tr>
        }
    </table>

</body>
</html>
