@{
    Layout = null;
}
@model System.Collections.Generic.IEnumerable<Model.Stuinfo>
@*@model List<Model.Stuinfo>*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        table {
            width: 600px;
            border: 1px solid #e5e5e5;
            border-spacing: 0px;
        }
            table tr {
                border: 1px solid red;
                border-spacing: 0px;
                text-align:center;
                height:45px;
                cursor:pointer;
            }
                table tr td {
                    border:1px solid #e5e5e5;
                    text-align:center;
                }
        .hover:hover {
            background-color:gold;
        }
        a {
            line-height: 21px;
            padding: 3px 11px;
            background: #02bafa;
            border: 1px #26bbdb solid;
            border-radius: 3px;
            display: inline-block;
            text-decoration: none;
            font-size: 12px;
            outline: none;
        }
    </style>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script>
        //删除ajax传值
        function Del(e) {
            var id = $(e).attr("id");
            $.post("Home/Delete", { id: id }, function (data) {
                if (data == "true") {
                    alert("删除成功");
                    location.href = "/Home/Index";
                    return;
                }
                else {
                    alert("删除失败");
                    location.href = "/Home/Index";
                    return;
                }
            })
        }

        //当选中一行的时候默认选中复选框
        function Click() {
            var tr = event.srcElement.parentElement;
            if (tr.cells[0].children[0].checked == true) {
                tr.cells[0].children[0].checked = false;
            }
            else {
                tr.cells[0].children[0].checked = true;
            }   
        }

        //选中全部
        function CheckAll() {
            var AllCheckBox = document.getElementsByClassName("Check");
            for (var i = 0; i < AllCheckBox.length; i++) {
                if (document.getElementById("CheckAll").checked) {
                    AllCheckBox[i].checked = true;
                }
                else {
                    AllCheckBox[i].checked = false;
                }
            }
        }

        //删除ajax的方法
        $(function () {
            $("#btn_Del").click(function () {
                var AllCheckBox = document.getElementsByClassName("Check");
                var check_val = "";
                for (k in AllCheckBox) {
                    if (AllCheckBox[k].checked){
                        check_val += AllCheckBox[k].value + ",";
                    }
                }
                $.post("/Home/DeleteAll", { val: check_val }, function (data) {
                    if (data == "true") {
                        alert("删除成功");
                        window.location.reload();
                    }
                    else {
                        alert("删除失败");
                    }
                })
            })
            $.get("/Home/Bind", {}, function (data) {
                var td = $.parseJSON(data);
                console.log(td);
                for (var i = 0; i < td.length; i++) {
                    $table = "<tr><td>" + td[i].s_id + "</td><td>" + td[i].s_name + "</td><td>" + td[i].s_no + "</td><td>" + td[i].s_c_id + "</td><td>" + td[i].s_state + "</td></tr>";
                    $("#tbl_Bind").append($table);
                }
            })
        })

        //url传值
        function btn(e) {
            var find = $("#txt_find").val();
            $(e).attr("href", "/Home/IndexLike?id=" + find);
        }
    </script>
    
</head>
<body>
    <form method="post" action="/Home/Index">
        <p>姓名:<input type="text" id="txt_find" name="txt_find" /><a href="#" onclick="btn(this)" >模糊查询</a><a href="/Home/Index">返回</a> @*<input type="submit" id="btn_find" value="模糊查询" />*@</p>
        <table>
            <tr>
                <td><input type="checkbox" id="CheckAll" onclick="CheckAll()" /></td>
                <td>编号</td>
                <td>姓名</td>
                <td>学号</td>
                <td>班级</td>
                <td>状态</td>
                <td>添加</td>
                <td>修改</td>
                <td>删除</td>
            </tr>
            @foreach (var item in Model)
            {
                <tr class="hover" onclick="Click()">
                    <td><input type="checkbox" class="Check" value="@item.S_Id" /></td>
                    <td>@item.S_Id</td>
                    <td>@item.S_Name</td>
                    <td>@item.S_No</td>
                    <td>@BLL.StuinfoBLL.GetClass(item.S_C_Id)</td>
                    <td>@(item.S_state ? "已点名" : "未点名")</td>
                    <td>
                        @Html.ActionLink("添加", "Insert")
                        @*<a href="#" onclick="Insert(this)">添加</a>*@
                    </td>
                    <td>
                        @Html.ActionLink("修改", "Update", new { id = item.S_Id })
                    </td>
                    <td>
                        <a href="#" id='@item.S_Id' onclick="Del(this)">删除</a>
                        @*@Html.ActionLink("删除", "Delete", new { id=item.S_Id })*@
                    </td>
                </tr>
            }
        </table>
    </form>
        <input type="button" value="删除" id="btn_Del" />
        <a href="/Home/Excel">导出Excel</a>

    <table id="tbl_Bind"></table>
    
</body>
</html>
